.home-layout{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.side-div{
    width: 220px;
    height: 100vh;
}

.sidebar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}

main{
    flex: 1;
}

.nav-bar{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.logo-title{
    display: flex;
    font-weight: 300;
    gap: 8px;
    font-size: larger;
}

.logo-title >img {
    width: 20px;
}

.menu-icon{
    display: none;
    width: 20px;
}

.menu-div{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
}

.sidebar-menu{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
gap:20px;
align-items: center;
background-color: white;
}

.user{
    height: 34px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.user > p{
    font-weight: 300;
    margin-left: 6px;
}

.user > img{
margin-right: 6px;
}

.support{
    margin-top: auto;
    width: 100%;
    margin-bottom: 10px;
}


.menu-items{
    width: 100%;
}


.menu-item {
    width: 100%;
    color: #000;
    display: flex;
    text-decoration: none;
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    align-items: center;
    font-size: small;
}

.menu-item > img{
    margin:0 10px;
}

.menu-item.active-item {
    background-color: #1570EF;
    color: white;
}


@media (max-width:790px){
    .side-div{
        width: 170px;
    }
}

@media (max-width:400px) {
    .home-layout{
        flex-direction: column;
    }

    .side-div{
        width: 100%;
        height: 62.38px;
    }

    .menu-div{
        display: none;
    }
    
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    .nav-bar{
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
    }

    .sidebar-menu{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap:8px;
        margin: 0 auto;
        background-color: white;
        }

}